@import url("https://fonts.googleapis.com/css?family=Material+Icons&display=block");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #ffffff; /* Blanco */
  --secondary-color: #151513; /* Negro GitHub */
}

ninja-keys {
  --ninja-overflow-background: rgba(0, 0, 0, 0.5);
  --ninja-icon-size: 1.7em;
}

@layer components {
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }

  .animate-heartbeat {
    animation: heartbeat 1.5s infinite ease-in-out;
  }

  @keyframes border-pulse {
    0%,
    100% {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      border: 0px solid #ffff;
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      border: 2px solid #ffffff00;
    }
  }

  .animate-border-pulse {
    animation: border-pulse 1.5s infinite ease-in-out;
    -webkit-animation: border-pulse 1.5s infinite ease-in-out;
  }
}
